IIS win-acme - failing http validation

We encountered problems during http validation phase when using IIS win-acme client.

The error log that is tied to this: "WARN  [tomcat-handler-182879] [com.czertainly.core.api.ExceptionHandlingAdvice - 346]: ACME Error: ProblemDocument[type=urn:ietf:params:acme:error:badNonce,title=Bad Nonce,detail=The client sent an unacceptable anti-replay nonce,instance=<null>,algorithms=<null>]"

Everything on the network side should be configured correctly and the resources required for completing the http challenge should be available. The URL with validation token seems to be okay. The second method, dns validation, works fine. The problem seems to be only with the http method. The communication on port 80 is open.

The client requests on the environment are being sent with localhost addres 127.0.0.1 (header x-forwarded-for) instead of the specific client IP addresses. Could this be creating the problem?


Hello @doloban ,

this mean that the client did not send valid `nonce` in the request according to the [RFC 8555, section 6.5.2](https://datatracker.ietf.org/doc/html/rfc8555#section-6.5.2).

You should check the request in win-acme client if it provides correct `nonce` for the ACME request.
I would suggest to enable debug logs for win-acme and CZERTAINLY to see what is going on and where is the issue.

Hello @3keyroman,
I am sending logs to you through Discord, take a look at them when you have some time please. It is not critical, but in general we would like to have a functioning IIS win-acme validation through the http method.