ACME server is trying to create new account when onlyReturnExisting: true

**Describe the bug**
According to [RFC 8555, section 7.3.1](https://datatracker.ietf.org/doc/html/rfc8555#section-7.3.1):

> If a client wishes to find the URL for an existing account and does
   not want an account to be created if one does not already exist, then
   it SHOULD do so by sending a POST request to the newAccount URL with
   a JWS whose payload has an "onlyReturnExisting" field set to "true"
   ({"onlyReturnExisting": true}).  If a client sends such a request and
   an account does not exist, then the server MUST return an error
   response with status code 400 (Bad Request) and type
   "urn:ietf:params:acme:error:accountDoesNotExist"

However, the ACME implementation is trying to create new account. This coincidentally works when the contact information is not required, however, when it is, such request will always fail as it does not contain contact.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ACME Profile
2. Set Require Contact information for new Accounts? to Yes
3. Request new certificate through ACME client

**Expected behavior**
According to [RFC 8555, section 7.3.1](https://datatracker.ietf.org/doc/html/rfc8555#section-7.3.1).

**Additional context**
Identified in version 2.13.0
